<h2>Cart Item List</h2>
<table class="table">
<thead>
    <tr>
        <th>produit</th>
        <th>prix</th>
        <th>quantité</th>
        <th>total</th>
    </tr>
</thead>
<tbody>
    {% for item in cart.items %}
    <tr>
        <td>dada</td>
        <td>dada</td>
        <td>dada</td>
        <td>dada</td>
    </tr>
    {% endfor %}
</tbody>
</table>
